.instagram {
  padding: 0 15px;
  width: 21% // 270px;
}

.instagram__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.instagram__item {
  width: 32.6%;
  border: 1px solid #ffffff;
  background-image: linear-gradient(to bottom,#f38181,#fce38a);
}

.instagram__item img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.1s linear;

  &:hover,
  &:active  {
    opacity: 0.3;
  }
}

.instagram__link {
  display: block;

  font-weight: 300;
  font-size: 13px;
  line-height: 1.8;

  color: #333333;
  transition: opacity .1s linear;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: 990px) {
  .instagram {
    width: 50%;
    justify-content: flex-start;
  }

  .instagram__item  {
    width: auto;
  }
}

@media (max-width: 770px) {
  .instagram {
    width: 100%;
  }
}
