.main-header {
  padding-top: 30px;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* for burger-menu */
//===================

.main-header--fixed {
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  transform: translate3d(0, 0, 0);
  background-color: #eb8b8d;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.main-header--fixed .site-navigation__link {
  padding-bottom: 3px;
}

.main-header--active {
  background-color: #eb8b8d;
}

.main-header--active .nav-toggle__item {
  background: none;

  &::before {
    top: 0;
    transform: rotate(45deg);
  }

  &::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo {
  display: block;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: auto;
  color: #ffffff;
}

@media (max-width: 770px) {
  .main-header {
    padding: 10px 0;
  }

  .main-header--active .site-navigation {
    display: flex;
  }
}


