.slider {
  position: relative;
    padding: 63px 0;
}

.slider--gray .slick-slider {
  padding: 0 110px;
}

.slider--gray img {
  width: 163px;
  height: 163px;
}

.slider--white .slick-slider {
  padding: 0 80px;
}

.slider--white img {
  width: 210px;
  height: 210px;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item img {
  display: block;
  flex-shrink: 0;
  margin-right: 40px;
}

.slider__item {
  min-height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.slider__block {
  margin: 0;
  padding: 0;
  padding-top: 5px;

  width: 772px;
}

.slider__block p {
  margin: 0;
  margin-bottom: 17px;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
}

.slider__block cite {
  position: relative;
  padding-left: 70px;

  font-family: "Kaushanscript", "Arial", sans-serif;
  font-weight: 400;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.4;
  color: #333333;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    top: 50%;
    left: 0;
    background-color: #f38181;
  }
}

// slick
.slick-arrow {
  position: absolute;

  width: 16px;
  height: 16px;
  font-size: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  border-top: 3px solid #cccccc;
  border-left: 3px solid #cccccc;
  background: none;
  transform: rotate(135deg);
  z-index: 1;

  cursor: pointer;
}

.slick-arrow:focus {
  outline: none;
}

.slick-prev {
  left: 25px;
  transform: rotate(-45deg);
}

.slick-next {
  right: 25px;
  transform: rotate(135deg);
}

//-------------------------

@media (max-width: 1230px) {
  .slider--gray .slick-slider {
    padding: 0 80px;
  }
}

@media (max-width: 990px) {
  .slider .slick-slider {
    padding: 0 40px;
  }

  .slider--white img {
    width: 150px;
    height: 150px;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }
}

@media (max-width: 770px) {
  .slider {
    padding: 0;
  }

  .slider .slick-slider {
    padding: 0;
  }

  .slider__item {
    flex-wrap: wrap;
    text-align: center;
  }

  .slider__item img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .slick-arrow {
    top: 20%;
  }

  .slick-prev {
    left: 25px;
  }

  .slick-next {
    right: 25px;
  }
}

@media (max-width: 575px) {
  .slider__block p {
    font-size: 19px;
  }

 .slick-arrow {
    top: 20%;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}
